<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>販売内容の確認</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <h2>入力情報を確認して送信ボタンを押してください</h2>

    <form th:action="@{/Performance/Complete}" th:object="${salesData}" method="post">

        ホワイトビール：<strong th:text="*{whiteBeerBottles}"></strong><br/>
        ラガー：<strong th:text="*{lagerBottles}"></strong><br/>
        ペールエール：<strong th:text="*{paleAleBottles}"></strong><br/>
        フルーツビール：<strong th:text="*{fruitBeerBottles}"></strong><br/>
        黒ビール：<strong th:text="*{blackBeerBottles}"></strong><br/>
        IPA：<strong th:text="*{ipaBottles}"></strong><br/>

        総杯数：<strong th:text="${total_cups}"></strong><br/>
        合計金額：<strong th:text="${total_sales_yen}"></strong><br/>

        <!-- 送信用にhiddenで各フィールド値を渡す -->
        <input type="hidden" th:field="*{whiteBeerBottles}" />
        <input type="hidden" th:field="*{lagerBottles}" />
        <input type="hidden" th:field="*{paleAleBottles}" />
        <input type="hidden" th:field="*{fruitBeerBottles}" />
        <input type="hidden" th:field="*{blackBeerBottles}" />
        <input type="hidden" th:field="*{ipaBottles}" />

        <input type="submit" value="確定">
    </form>
</body>
</html>

