<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>販売内容の確認</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
<header>
    <h1>販売内容の確認</h1>
</header>
<div class="container">
    <table>
        <tr><th>商品</th><th>数量</th></tr>
        <tr><td>ホワイトビール</td><td><strong th:text="${been.whiteBeerBottles}"></strong></td></tr>
        <tr><td>ラガー</td><td><strong th:text="${been.lagerBottles}"></strong></td></tr>
        <tr><td>ペールエール</td><td><strong th:text="${been.paleAleBottles}"></strong></td></tr>
        <tr><td>フルーツビール</td><td><strong th:text="${been.fruitBeerBottles}"></strong></td></tr>
        <tr><td>黒ビール</td><td><strong th:text="${been.blackBeerBottles}"></strong></td></tr>
        <tr><td>IPA</td><td><strong th:text="${been.ipaBottles}"></strong></td></tr>
        <tr><td><strong>総杯数</strong></td><td><strong th:text="${total_cups}"></strong></td></tr>
        <tr><td><strong>合計金額</strong></td><td><strong th:text="${total_sales_yen}"></strong></td></tr>
    </table>
    <form action="/Performance/Complete" method="post" class="center">
        <input type="submit" value="確定">
    </form>
</div>
</body>
</html>
