<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>販売実績メニュー</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
<header>
    <h1>販売実績メニュー</h1>
</header>
<div class="container center">
    <!-- <form action="/Performance/InputForUsers" method="get">
        <input type="submit" value="販売実績入力">
    </form> -->
        <form action="/Performance/Input" method="get">
        <input type="submit" value="販売実績入力">
    </form>
    <form action="/sales" method="post">
        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
        <input type="submit" value="販売実績一覧">
    </form>
</div>
</body>
</html>
