<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>アカウント登録</title>
</head>
<body>
    <h1>新規アカウント登録</h1>

    <form method="post" action="/register">
        <input type="text" name="username" placeholder="ユーザーネーム">
        <input type="text" name="password" placeholder="パスワード">
        <button type="submit">登録</button>
    </form>

    <p th:if="${error}" th:text="${error}" style="color:red;"></p>

    <h2>登録済みユーザー</h2>
    <ul>
        <li th:each="msg : ${messages}">
            <strong th:text="${msg.username}">名前</strong>: 
            <span th:text="${msg.password}">パス</span>
        </li>
    </ul>
</body>
</html>
