<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>売上データ一覧</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
<header>
    <h1>売上データ一覧</h1>
</header>
<div class="container">
    <a href="/main"><button>メインページに戻る</button></a>
    <a href="/sales_change"><button>過去データの修正</button></a>
    <table>
        <thead>
            <tr>
                <th>日付</th>
                <th>売上合計</th>
                <th>総杯数</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="data : ${salesList}">
                <td th:text="${data.saleDay}"></td>
                <td th:text="${#numbers.formatInteger(data.totalSalesYen, 0, 'COMMA')} + ' 円'"></td>
                <td th:text="${data.totalCups}"></td>
            </tr>
        </tbody>
    </table>
</div>
</body>
</html>
