<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>ログイン成功</title>
</head>
<body>

<header>
    <h1>スタッフ一覧</h1>
</header>

<main>
    <ul>
        <li th:each="msg : ${messages}">
            <strong th:text="${msg.name}">名前</strong>:
            <strong th:text="${msg.email}">メールアドレス</strong>:
        </li>
    </ul>
    <a href="/main"><button>メインページに戻る</button></a>
    <a href="/staff_change"><button>スタッフを修正する</button></a>
</main>
</body>
</html>